@import 'tailwindcss';

@theme {
  --font-sans: 'Poppins', sans-serif;

  /* GREEN COLOR */
  --color-sea-green-50: #f0fdf5;
  --color-sea-green-100: #ddfbea;
  --color-sea-green-200: #bdf5d5;
  --color-sea-green-300: #89ecb4;
  --color-sea-green-400: #4fd98c;
  --color-sea-green-500: #27c06b;
  --color-sea-green-600: #1a9f55;
  --color-sea-green-700: #1b8a4d;
  --color-sea-green-800: #18633a;
  --color-sea-green-900: #165132;
  --color-sea-green-950: #062d19;
}

/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/poppins-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url('./assets/fonts/poppins-v24-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/poppins-v24-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/poppins-v24-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.materi-container {
    position: relative;
    user-select: none; /* Mencegah user memblok/copy teks */
    -webkit-user-select: none;
    -moz-user-select: none;
}

.watermark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Klik akan tembus ke bawah watermark */
    z-index: 9999;
    opacity: 0.15; /* Transparan agar materi tetap terbaca */
    display: flex;
    flex-wrap: wrap;
    font-size: 24px;
    color: red;
    font-weight: bold;
    transform: rotate(-30deg);
    overflow: hidden;
}